.connect-wallet
  display: grid
  height: 100%
  width: 100%
  grid-template-columns: repeat(2, 1fr)
  align-items: center
  @media (max-width: $mobile)
    grid-template-columns: 1fr
  &__wrapper
    position: absolute
    top: 105vh
    left: 0
    width: 100vw
    height: 82vh
    border-radius: 24px 24px 0 0
    box-shadow: 0 -10px 10px 4px rgba($accent-dark, 50%)
    background-color: $mobile-background-color
    transition: 0.6s
    z-index: 15
    &--opened
      top: 122px
      left: 0
  &__inner-wrapper
    display: flex
    padding: 0 30px
    flex-direction: column
    justify-content: center
    align-items: center
    @media (max-width: $mobile)
      justify-content: unset
  &__form
    position: relative
    height: 100%
    padding-top: 100px
    &-copyright
      @include poppins-medium
      display: flex
      width: 100%
      margin-top: auto
      justify-content: space-between
      font-size: 16px
      color: #aaaaaa
  &__mobile-puller
    position: absolute
    top: 20px
    left: 50%
    padding: 20px 0
    transform: translateX(-50%)
    border: none
    background-color: transparent
    & span
      display: block
      background-color: $gray
      height: 4px
      width: 60px
      border-radius: 4px

  &__preview
    height: 100%
    padding: 120px 140px
    background-color: $accent-dark
    & .title
      color: $white
