.creators
  &__item
    border-radius: 25px
    transition: 0.3s
    &:hover
      box-shadow: 0px 10px 16px 4px rgba(0, 0, 0, 0.3)
  &__title
    margin-bottom: 130px
    @media (max-width: $mobile)
      margin-bottom: 70px
  &__list
    @include list-reset
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, 370px))
    justify-content: center
    gap: 85px 60px
