.explore
  display: flex
  max-width: $container-max-width
  flex-direction: column
  margin-inline: auto
  &__list.items__list
    margin-bottom: 100px
  &__redirect-link
    @include link-reset
    @include poppins-medium
    display: flex
    gap: 16px
    align-items: center
    color: $redirect-link-gray
    font-size: 18px
    align-self: flex-end
    transition: 0.3s
    &:hover
      opacity: 0.6
      gap: 24px
