.product-page
  &__breadcrumb
    background-color: #e6e8ec
    &:hover
      opacity: 0.6
    &-wrapper
      @include link-reset
      color: $black
      display: inline-flex
      gap: 34px
    &-title
      @include poppins-semi-bold
      font-size: 31px
  &__item
    padding: 36px
    display: flex
    gap: 135px
    border-radius: 24px
    background-color: #fafafa
    box-shadow: 17px 17px 60px 0 rgba($black, 12%)
    @media (max-width: $mobile-only)
      padding: 20px
      gap: 40px
      flex-direction: column
    &-container
      display: flex
      flex-direction: column
    &-description
      @include poppins-regular
      font-size: 19px
      color: $gray
  &__owners-wrapper
    display: flex
    margin: 50px 0
    gap: 80px
    @media (max-width: $mobile-only)
      flex-direction: column
      margin: 20px 0
      gap: 30px
  &__owner
    display: flex
    margin: 0
    align-items: center
    gap: 16px
    &-avatar
      border-radius: 50%
    & p
      display: flex
      flex-direction: column
    &-description
      @include poppins-regular
      margin: 0
      padding: 0
      font-size: 17px
      color: #8d8d8d
      white-space: nowrap
    &-name
      @include poppins-medium
      font-size: 26px
