.search
  &__input
    @include poppins-medium
    position: relative
    width: 100%
    padding: 16px 20px
    padding-left: 70px
    border: none
    border-radius: 14px
    background-color: $lighten-gray
    background-image: url("../../img/icons/search.svg")
    background-size: initial
    background-position: 22px 18px
    background-repeat: no-repeat
    font-size: 16px
    @media (max-width: $tablet)
      padding: 10px 10px 10px 50px
      background-position: 14px 12px
