.sell
  &__wrapper
    display: grid
    justify-items: center
    max-width: 1250px
    grid-template-columns: 2fr 1fr
    gap: 70px
    margin: auto
    @media (max-width: $mobile)
      display: flex
      flex-direction: column
      gap: 40px
